*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DADADA;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  padding: 4%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Georgia', sans-serif;
  font-weight: medium;
  position: absolute;
  top: 32px;
  left: 24px;
}

.preview {
  width: 250px;
  height: 250px;
  position: relative;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 599px) {  /*smartphones*/
  body {
  box-sizing: border-box;
  background-color: #DADADA;
}

h1 {
  font-size: 1.5em; /* 24/16 */
}

h2 {
  font-size: 1.75em; /* 28/16 */
}

.preview {
  width: 100%;
  height: 100%;
  padding: 3% 0;
}
}

@media screen and (min-width: 600px) { /*tablets*/
  body {
  box-sizing: border-box;
  background-color: #DADADA;
}

.container {
  margin: 0 5%;
}

img {
  width: 300px;
  height: 300px;
}

h1 {
  font-size: 1.125em;
}

h2 {
  font-size: 1.5em;
}

.preview {
  float: left;
  height: auto;
  width: 50%;
  padding: 1%;
}
}

@media screen and (min-width: 900px) { /*laptops & desktops*/
  body {
  box-sizing: border-box;
  background-color: #DADADA;
}

.container {
  margin: 0 5%;
}

img {
  height: 250px;
  width: 250px
}

.preview {
  width: 25%;
  padding: 1%;
}
}
